:root {
  --page-gutter-lg: 10rem;
  --header: 56px;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}

#root :is(.visible) {
  visibility: visible;
}

#root :is(.fixed) {
  position: fixed;
}

#root :is(.absolute) {
  position: absolute;
}

#root :is(.relative) {
  position: relative;
}

#root :is(.left-1\/2) {
  left: 50%;
}

#root :is(.right-0) {
  right: 0px;
}

#root :is(.top-1\/2) {
  top: 50%;
}

#root :is(.top-3) {
  top: 0.75rem;
}

#root :is(.z-30) {
  z-index: 30;
}

#root :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto;
}

#root :is(.mb-5) {
  margin-bottom: 1.25rem;
}

#root :is(.mt-2) {
  margin-top: 0.5rem;
}

#root :is(.mt-4) {
  margin-top: 1rem;
}

#root :is(.mt-5) {
  margin-top: 1.25rem;
}

#root :is(.mt-6) {
  margin-top: 1.5rem;
}

#root :is(.mt-header_height) {
  margin-top: var(--header);
}

#root :is(.line-clamp-1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#root :is(.line-clamp-2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

#root :is(.block) {
  display: block;
}

#root :is(.inline-block) {
  display: inline-block;
}

#root :is(.flex) {
  display: flex;
}

#root :is(.\!table) {
  display: table !important;
}

#root :is(.table) {
  display: table;
}

#root :is(.hidden) {
  display: none;
}

#root :is(.aspect-square) {
  aspect-ratio: 1 / 1;
}

#root :is(.h-4) {
  height: 1rem;
}

#root :is(.h-56) {
  height: 14rem;
}

#root :is(.h-full) {
  height: 100%;
}

#root :is(.h-header_height) {
  height: var(--header);
}

#root :is(.h-screen) {
  height: 100vh;
}

#root :is(.w-16) {
  width: 4rem;
}

#root :is(.w-20) {
  width: 5rem;
}

#root :is(.w-4) {
  width: 1rem;
}

#root :is(.w-56) {
  width: 14rem;
}

#root :is(.w-72) {
  width: 18rem;
}

#root :is(.w-fit) {
  width: -moz-fit-content;
  width: fit-content;
}

#root :is(.w-full) {
  width: 100%;
}

#root :is(.max-w-screen-2xl) {
  max-width: 1536px;
}

#root :is(.flex-1) {
  flex: 1 1 0%;
}

#root :is(.basis-1\/2) {
  flex-basis: 50%;
}

#root :is(.-translate-x-1\/2) {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#root :is(.-translate-y-1\/2) {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#root :is(.scale-150) {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#root :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#root :is(.cursor-pointer) {
  cursor: pointer;
}

#root :is(.flex-row) {
  flex-direction: row;
}

#root :is(.flex-col) {
  flex-direction: column;
}

#root :is(.items-start) {
  align-items: flex-start;
}

#root :is(.items-center) {
  align-items: center;
}

#root :is(.justify-start) {
  justify-content: flex-start;
}

#root :is(.justify-between) {
  justify-content: space-between;
}

#root :is(.\!gap-2) {
  gap: 0.5rem !important;
}

#root :is(.gap-24) {
  gap: 6rem;
}

#root :is(.gap-3) {
  gap: 0.75rem;
}

#root :is(.gap-4) {
  gap: 1rem;
}

#root :is(.gap-5) {
  gap: 1.25rem;
}

#root :is(.gap-8) {
  gap: 2rem;
}

#root :is(.divide-x-8 > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(8px * var(--tw-divide-x-reverse));
  border-left-width: calc(8px * calc(1 - var(--tw-divide-x-reverse)));
}

#root :is(.divide-gray-200 > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

#root :is(.overflow-hidden) {
  overflow: hidden;
}

#root :is(.\!rounded-md) {
  border-radius: 0.375rem !important;
}

#root :is(.rounded) {
  border-radius: 0.25rem;
}

#root :is(.rounded-full) {
  border-radius: 9999px;
}

#root :is(.rounded-lg) {
  border-radius: 0.5rem;
}

#root :is(.rounded-md) {
  border-radius: 0.375rem;
}

#root :is(.border) {
  border-width: 1px;
}

#root :is(.border-b) {
  border-bottom-width: 1px;
}

#root :is(.border-gray-500) {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}

#root :is(.border-red-300) {
  --tw-border-opacity: 1;
  border-color: rgb(252 165 165 / var(--tw-border-opacity));
}

#root :is(.border-b-blue-500) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(59 130 246 / var(--tw-border-opacity));
}

#root :is(.bg-blue-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

#root :is(.bg-green-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

#root :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

#root :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover;
}

#root :is(.object-top) {
  -o-object-position: top;
     object-position: top;
}

#root :is(.p-1) {
  padding: 0.25rem;
}

#root :is(.p-10) {
  padding: 2.5rem;
}

#root :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#root :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem;
}

#root :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

#root :is(.px-52) {
  padding-left: 13rem;
  padding-right: 13rem;
}

#root :is(.px-page_gutter_lg) {
  padding-left: var(--page-gutter-lg);
  padding-right: var(--page-gutter-lg);
}

#root :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#root :is(.py-10) {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#root :is(.py-11) {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

#root :is(.py-20) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#root :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

#root :is(.pl-4) {
  padding-left: 1rem;
}

#root :is(.pt-1) {
  padding-top: 0.25rem;
}

#root :is(.text-center) {
  text-align: center;
}

#root :is(.text-justify) {
  text-align: justify;
}

#root :is(.\!font-sans) {
  font-family: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#root :is(.font-sans) {
  font-family: Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root :is(.text-\[54px\]) {
  font-size: 54px;
}

#root :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem;
}

#root :is(.font-bold) {
  font-weight: 700;
}

#root :is(.font-extrabold) {
  font-weight: 800;
}

#root :is(.font-medium) {
  font-weight: 500;
}

#root :is(.font-normal) {
  font-weight: 400;
}

#root :is(.font-semibold) {
  font-weight: 600;
}

#root :is(.uppercase) {
  text-transform: uppercase;
}

#root :is(.capitalize) {
  text-transform: capitalize;
}

#root :is(.italic) {
  font-style: italic;
}

#root :is(.tracking-wide) {
  letter-spacing: 0.025em;
}

#root :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

#root :is(.text-blue-500) {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

#root :is(.text-gray-200) {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

#root :is(.text-gray-500) {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

#root :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

#root :is(.text-gray-800) {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

#root :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

#root :is(.text-green-500) {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

#root :is(.text-indigo-600) {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}

#root :is(.text-red-500) {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

#root :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

#root :is(.underline) {
  text-decoration-line: underline;
}

#root :is(.line-through) {
  text-decoration-line: line-through;
}

#root :is(.no-underline) {
  text-decoration-line: none;
}

#root :is(.shadow-md) {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#root :is(.outline) {
  outline-style: solid;
}

#root :is(.drop-shadow) {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#root :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

#root :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#root :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#root :is(.transition-transform) {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

#root :is(.duration-100) {
  transition-duration: 100ms;
}

#root :is(.duration-150) {
  transition-duration: 150ms;
}

#root :is(.duration-200) {
  transition-duration: 200ms;
}

#root :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#root :is(.hover\:scale-110:hover) {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

#root :is(.hover\:border-4:hover) {
  border-width: 4px;
}

#root :is(.hover\:border-b:hover) {
  border-bottom-width: 1px;
}

#root :is(.hover\:bg-\[\#f0f8ff\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(240 248 255 / var(--tw-bg-opacity));
}

#root :is(.hover\:bg-blue-50:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
}

#root :is(.hover\:font-medium:hover) {
  font-weight: 500;
}

#root :is(.hover\:text-gray-600:hover) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

#root :is(.hover\:text-gray-700:hover) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

#root :is(.focus\:ring-indigo-600:focus) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(79 70 229 / var(--tw-ring-opacity));
}
